@import "lib";


// plugin - preview
.rg-uploader {
	.body > .preview {-webkit-flex: inherit; flex: inherit;}
	.preview {
		width: $preview-width; height: 100%; overflow: hidden;
		&.hide {display: none;}
		figure {
			height: 100%; margin: 0;
			background: no-repeat 50% 50%; background-size: cover;
			text-indent: -9999px;
		}
		.not-image {
			position: relative; background: #7E7F80 !important;
			&:after {
				content: 'not image'; position: absolute;
				top: 50%; left: 0; right: 0; margin-top: -7px;
				text-indent: 0;
				font-family: $font-eng-basic; color: #ccc; font-size: 11px; text-align: center;
			}
		}
	}
	@media (max-width: $mobile-max-width) {
		.preview {display: none;}
	}
}


// plugin - sizeinfo
.rg-uploader {
	> footer {
		> div {
			width: 140px; padding: 0 10px 0 0;
			> p {
				margin: 0;
				font-family: $font-eng-basic;
				text-align: right; font-size: 12px; color: #222;
				em {font-style: normal;}
			}
		}
	}
}


// plugin - changeQueueStyle
.rg-uploader {
	> header {
		nav {
			position: absolute; top: 50%; right: 10px;
			height: 28px; margin-top: -14px;
			border: 1px solid $color-key; border-radius: 3px;
			font-size: 0; overflow: hidden;
			button {
				display: inline-block; height: 100%; margin: 0; padding: 0 7px;
				background: none; cursor: pointer;
				border: none; border-left: 1px solid $color-key;
				&:first-child {border-left: none;}
				i {font-size: 20px; line-height: 22px; color: $color-key;}
				&.on {
					background: $color-key;
					cursor: default; outline: 0;
					i {color: #fff;}
				}
			}

			@media (max-width: $mobile-max-width) {
				position: static; margin: 8px 0 0; height: 34px;
				display: -webkit-flex; display: flex;
				button {
					-webkit-flex: 1; flex: 1;
					padding: 0;
					i {font-size: 20px; line-height: 22px;}
				}
			}
		}
	}
}


// plugin - drag and drop
.rg-uploader {
	.queue.drop-mode {
		&:after {
			content: ''; position: absolute; display: block;
			left: 0; right: 0; top: 0; bottom: 0;
			border: 2px dashed $color-key;
			pointer-events: none;
		}
	}
}


// plugin - thumbnail
.rg-plugin-thumbnail {
	&, * {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
	position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 99999;
	display: none;
	&.show {display: block;}
	> .bg {
		position: absolute;
		left: 0; right: 0; top: 0; bottom: 0;
		background: rgba(0,0,0,.8);
	}
	> .wrap {
		position: absolute; left: 50%; top: 50%;
		background: #fff;
		box-shadow: 0 2px 8px rgba(0,0,0,.25);

		.img-wrap {
			padding-bottom: 60px;
			height: 100%;
			figure {
				margin: 0; height: 100%;
				background: #333;
			}
			.croppie-container {position: relative; padding: 0;}
			.cr-slider-wrap {position: absolute; left: 0; right: 0; bottom: 20px; z-index: 2;}
		}
		.body {
			position: absolute; left: 0; right: 0; bottom: 0; height: 60px;
			background: #fff;
			display: -webkit-flex; display: flex;
			-webkit-align-items: center; align-items: center;
			.meta {
				-webkit-flex: 1; flex: 1;
				padding-left: 10px; padding-right: 20px;
				p {
					margin: 0;
					font-size: 13px; color: #222;
				}
			}
			nav {
				padding-right: 10px; text-align: right;
				button {
					margin: 0; padding: 5px;
					border: none; background: none; cursor: pointer;
					i {
						vertical-align: top;
						color: #57595B;
					}
					& + button {margin-left: 8px;}
				}
			}
		}
	}
}


// plugin - changeQueue
.rg-plugin-changeQueue {
	li {cursor: move;}
	.sortable-ghost {opacity: .2;}
}