.rg-uploader {
	.queue {
		// style - list
		.style-list {
			$height: 34px;

			padding: 10px;
			li {
				position: relative; margin: 2px 0 0; background: #eee;
				&:first-child {margin-top: 0;}

				&.complete {
					.wrap {
						@include d-flex(true);
					}
					.col {
						@include flex(1);
						padding: 5px;
					}
					figure.col {display: none;}
					.bd {
						margin: 0; padding: 10px 8px 10px 10px;
						font-size: 12px; color: #222; word-break: break-all;
						hr {display: none;}
						.state:before {content: ' - ';}
					}
					nav.col {
						@include flex();
						padding-right: 8px; text-align: right;
					}

					&.selected:after {
						@extend %selected;
					}
				}
				&.loading {
					figure.col {display: none;}
					.bd {
						margin: 0; padding: 10px 8px 10px 10px;
						font-size: 12px; color: #222; word-break: break-all;
						hr {display: none;}
						.state:before {content: ' - ';}
					}
					.bar {
						position: absolute;
						left: 0; right: 0; top: 0; bottom: 0;
						> p {
							margin: 0; position: relative; height: 100%;
							background: $color-key;
							white-space: nowrap; overflow: hidden;
						}
						span {
							position: absolute; display: block;
							right: 8px; top: 50%; margin-top: -6px;
							font-size: 11px; color: #fff; line-height: normal;
						}
					}
				}
				&.error {
					padding: 10px; background: #CE3E3E;
					color: #fff; font-size: 12px; word-break: break-all;
					figure.col {display: none;}
					.bd {
						margin: 0;
						.state:before {content: ' - ';}
						hr {display: none;}
					}
				}
			}

			@media (max-width: $mobile-max-width) {
				li {
					&.complete {
						.wrap {display: block;}
						p.col {
							padding: 10px 10px 0;
							br {display: inherit; line-height: 20px;}
							.state:before {display: none;}
							.state, .size {font-weight: bold;}
						}
						nav.col {
							@include d-flex(true);
							margin: 0 10px; padding: 0;
							button {
								padding: 8px 0 12px;
								@include flex(1);
							}
						}
					}
					&.error {
						p.col {
							br {display: inherit; line-height: 20px;}
							.state:before {display: none;}
							.state, .size {font-weight: bold;}
						}
					}
				}
			}
		}

		// style - web
		.style-web {
			$size: 70px;
			$min-size: 34px;

			padding: 10px;
			li {
				position: relative; margin-top: 2px; background: #eee;
				&:first-child {margin-top: 0;}

				&.complete {
					.wrap {@include d-flex(true);}
					.col {
						@include flex(1);
						padding: 5px;
					}
					figure.col {
						@include flex(inherit);
						width: $size; height: $size;
						margin: 0; padding: 0; text-indent: -9999px;
						background: no-repeat 50% 50%; background-size: cover;
						&.not-image {
							$length: 30px;
							position: relative; background: #999;
							&:before, &:after {
								content: ''; display: block; position: absolute;
								left: 50%; top: 50%;
								background: #ddd;
								-webkit-transform-origin: 50% 50%; transform-origin: 50% 50%;
								-webkit-transform: rotate(45deg); transform: rotate(45deg);
							}
							&:before {
								width: $length; height: 1px;
								margin-left: 0 - $length/2; margin-top: -0.5px;
							}
							&:after {
								height: $length; width: 1px;
								margin-top: 0 - $length/2; margin-left: -0.5px;
							}
						}
					}
					.bd {
						margin: 0; padding-left: 10px;
						font-family: $font-eng-helvetica; font-size: 12px; color: #222;
						word-break: break-all;
						hr {border: none; margin: 0; height: 3px;}
						.filetype {display: block; margin: 0 0 3px; font-size: 11px; color: #777;}
						.state, .size {font-weight: bold;}
					}
					nav.col {
						@include flex();
						text-align: right;
					}
					&.selected:after {
						@extend %selected;
					}
				}
				&.loading {
					figure.col {display: none;}
					.bar {
						position: absolute;
						left: 0; right: 0; top: 0; bottom: 0;
						> p {
							position: relative; margin: 0; height: $min-size;
							background: $color-key;
							white-space: nowrap; overflow: hidden;
						}
						span {
							position: absolute; display: block;
							right: 8px; top: 50%; margin-top: -6px;
							font-size: 11px; color: #fff; line-height: normal;
						}
					}
					.bd {
						margin: 0; padding: 10px 8px 10px 10px;
						font-size: 12px; color: #222; word-break: break-all;
						hr {display: none;}
						.state:before {content: ' - ';}
					}
				}
				&.error {
					padding: 10px; background: #CE3E3E;
					color: #fff; font-size: 12px; word-break: break-all;
					figure.col {display: none;}
					.bd {
						margin: 0;
						.state:before {content: ' - ';}
						hr {display: none;}
					}
				}
			}

			@media (max-width: $mobile-max-width) {
				li {
					&.complete {
						.wrap {
							position: relative; display: block;
							padding-left: $size;
						}
						figure.col {position: absolute; left: 0; top: 0; bottom: 0; height: auto;}
						.bd {padding: 8px 5px 8px 10px;}
						nav.col {
							text-align: center;
							@include d-flex(true);
							margin: 0 10px; padding: 0;
							button {
								padding: 8px 0 12px;
								@include flex(1);
							}
						}
					}
				}
			}
		}

		// style - album
		.style-album {
			display: -webkit-flex; display: flex;
			-webkit-flex-wrap: wrap; flex-wrap: wrap;
			padding: 5px;
			li {
				width: 20%; padding: 5px;
				@media (min-width: 1440px) { & {width: 16.6666%;} }
				@media (min-width: 1920px) { & {width: 12.5%;} }
				@media (min-width: 2400px) { & {width: 10%;} }
				@media (max-width: 1024px) { & {width: 25%;} }
				@media (max-width: 768px) { & {width: 33.3333%;} }
				@media (max-width: 480px) { & {width: 50%;} }
			}
			.wrap {
				position: relative; overflow: hidden;
				box-shadow: 0 1px 8px rgba(0,0,0,.15);
			}
			figure.col {
				margin: 0; min-height: 80px; height: 10vw; max-height: 150px;
				background: no-repeat 50% 50%; background-size: cover;
				&.not-image {
					position: relative; background: #999;
					&:after {
						content: 'no img'; position: absolute;
						left: 0; right: 0; top: 50%; margin-top: -6px;
						font-family: $font-eng-basic; color: #ddd; font-size: 11px;
						text-align: center;
					}
				}
			}
			.bd {
				display: block;
				margin: 10px; font-family: $font-eng-basic;
				word-break: break-all;
				font-size: 12px; line-height: 14px; color: #222;

				hr {margin: 0; height: 6px; border: none;}
				.filetype {display: block; margin: 0 0 3px 0; font-size: 11px; color: #888;}
				.state, .size {font-weight: bold;}
			}
			nav.col {
				@include d-flex(true);
				border-top: 1px solid #eee;
				margin: 0 0 0; padding: 0;
				text-align: center; white-space: nowrap;
				button {
					padding: 10px 0;
					@include flex(1);
				}
			}
			.selected .wrap:after {
				@extend %selected;
			}

			li.complete {
				figure.col {text-indent: -9999px;}
			}
			li.loading {
				figure.col {
					background: #eee;
					p {
						margin: 0; position: relative; height: 100%;
						background: $color-key;
						span {
							position: absolute; display: block;
							right: 8px; top: 50%; margin-top: -6px;
							font-size: 11px; color: #fff; line-height: normal;
						}
					}
					&:after {display: none;}
				}
				.bar {display: none;}
			}
			li.error {
				figure.col {background: $color-error;}
			}
		}
	}
}